$g-body-background-color: #fff;
$g-text-color: #000000;
$g-light-text-color: #656c7c;
$g-font-family: Inter, sans-serif;
$g-font-size: 1rem;
$g-line-height: 1.5;

$text-base: 16px;
$text-lg: 24px;
$text-xl: 32px;

$rose: #ea4c89;
$rose-light: #ffecf0;
$white: #ffffff;
$light-blue: #1769ff;
